*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
 margin: 0;
 padding: 0;

}

h6, h5, h4, h3, h2, h1 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
/*			Container
_________________________________*/
.container{
	width: 100%;
	max-width: 75em;
	margin:0 auto;
	padding:0 15px;
}
.container-header{
	width: 100%;
	max-width: 1200px;
	margin:0 auto;
	padding:0 15px 0 15px;
	
}
/*			Section title
_________________________________*/
.title{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 40px;

	letter-spacing: 0.03em;

	color: rgba(0, 0, 0, 0.9);
}
/*			Small-cards title
_________________________________*/
.title-small{
	font-size: 20px;
	line-height: 30px;
	letter-spacing: normal;

}


/*			Button
_________________________________*/
.btn{
 	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;


	letter-spacing: 0.08em;
	text-transform: uppercase;

	background: #DEC377;
	border-radius: 2px;
	color:#ffffff;
	

	outline: none;
	border:none;
	min-width:200px;
	height: 45px;

	display: -webkit-inline-box;

	display: -ms-inline-flexbox;

	display: inline-flex;

	-webkit-box-pack: center;

	    -ms-flex-pack: center;

	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	cursor: pointer;
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}
.btn:hover{
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
}


.btn__more{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;

	letter-spacing: 0.02em;
	text-transform: uppercase;

	color: rgba(0, 0, 0, 0.5);
	

	display: inline-block;
}


/*			Slider(all options)
_________________________________*/
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.slick-arrow{
	cursor: pointer;
}


/*			Header
_________________________________*/

.header__content{
	padding:15px 0 21px;
	margin-right:-65px;
}
.burger{
	display: none;
	width:30px;
	height: 30px;
	cursor: pointer;
}
.header__main{
	padding-top:32px;

}
.header__info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__lang{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	min-width: 150px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0em;
	color: rgba(0, 0, 0, 0.8);

}
.header__lang-choice{
	font-weight: 300;
}

.header__select {
	 display: -webkit-inline-box;
	 display: -ms-inline-flexbox;
	 display: inline-flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	     -ms-flex-direction: column;
	         flex-direction: column;
	 height: 40px;
	 overflow: hidden;
	 cursor: pointer;

	 position: absolute;
	 top:0;
	 left:47px;

	 font-weight: 400;


}
.header__select li {
	 -webkit-box-flex: 1;
	     -ms-flex: 1;
	         flex: 1;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center; 
	 -webkit-box-ordinal-group: 3; 
	     -ms-flex-order: 2; 
	         order: 2;
	 padding:0 10px 16px 0px;
	
}

.header__select li:hover {
 	 cursor: pointer;

}

.header__select.open {
 	 height: auto;
}

.header__select li.active {
	  -webkit-box-ordinal-group: 2;
	      -ms-flex-order: 1;
	          order: 1;
	  pointer-events: none;
}
.lang_arrow{
	margin-left:8px;
	margin-top:2px;	
}

.header__eye-icon{
	position: absolute;
	top:1em;
	left:50%;
	-webkit-transform: translate(-50%,0);
	    -ms-transform: translate(-50%,0);
	        transform: translate(-50%,0);
	cursor: pointer;
}
.header__social{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        margin-top:-2px;

}
.header__social-items{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding:0 7px 0 8.9px;
}
.header__social-item{
	padding:0 5.5px;
}
.header__number{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-right:18px;
	
}
.header_tel-icon{
	padding-left:38px;
}
.header__tel{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.5);
}
.header__main{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__nav{
	margin-left:15px;
	padding-right:4px;
}
.header__nav-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top:-6px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

}
.header__nav-item{
	padding-right:calc(35px - 40%);
	margin-right:15px;
}
.header__nav-item a:hover{
	text-decoration: underline;
}
.header__nav-item a{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;


	letter-spacing: 0.03em;
	text-transform: uppercase;


	color: rgba(0, 0, 0, 0.75);


}
.header__nav-item:last-child{
	padding-right:0;
	margin-right:0;
}
.header__number .header__tel{
	font-family: sans-serif;
	font-size: 12px;
}

/*			Slider-main
_________________________________*/
.slider__main{
	height: auto;
	min-width: 0;
	position: relative;

}
.slider__main-item{
	height: 650px;
	padding-top:160px;
	outline: none;
	border:none;

}
.slider__main-img{
	max-width: 100%;

}
.slider__main .slick-arrow{
	
	z-index: 10;
	font-size: 16px;
	height: 2px;
	width:10px;
	outline: none;
	border:none;	
}
.arrows{
	position: absolute;
	margin-left: 23px;
	bottom:18.1%;
}
.next-arrow{
	margin-left:48px;
}
.slider__main-title{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;

	letter-spacing: 0.01em;



	color: rgba(0, 0, 0, 0.9);

	max-width: 570px;
}
.slider__main-info{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;

	color: rgba(0, 0, 0, 0.8);
	margin-top:20px;
	margin-bottom:50px;
	max-width: 470px;
}
/*			About
_________________________________*/
.about{
	background-color: #E5E5E5;
}
.cards__wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	position: relative;
	margin-top:-90px;	
}
.card{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	background: #ffffff;
	width:24%;
	max-width: 270px;
	min-height: 285px;

	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

	        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
	margin:0 2px;
	padding:50px 20px 40px;
	
}
.card:first-child{
	margin-left:0;
}
.card:nth-child(2n){
	margin-right:0;
	
}

.card__img-wrapper{
	border: 3px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	width:120px;
	height: 120px;
	margin:0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.card__text{
	margin-top:25px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	font-family: 'Lato', sans-serif;
	
	letter-spacing: 0.02em;
	text-align: center;

	color: rgba(0, 0, 0, 0.75);
	
}
/*			Info
_________________________________*/
.info{
	background-color: #E5E5E5;
	padding-top:100px;
}
.info__content{
	
	background: #FFFFFF;

	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	justify-content: space-between;
	
}
.info__title{
	max-width: 620px;
	padding-top:50px;
	padding-left:70px;
}

.info__text{
	padding:0 0 0 70px;
	max-width: 545px;
	margin-top:30px;
}
.info__text p{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;


	color: #9d9d9d;
	margin-bottom:25px;
}
.info__text p:last-child{
	margin-bottom:25px;
}
.info__img img{
 	height: 100%;
 	max-width: 500px;
 	

}


/*			Ways
_________________________________*/
.ways{
	background-color: #E5E5E5;
	padding-top:95px;
}
.ways__content{

}
.ways__items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top:35px;
	margin-bottom:10px;
}
.ways__item{
	background: #FFFFFF;

	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

	width:32%;
	min-height: 140px;
	margin-bottom: 30px;
}
.ways__item .title-small{
	max-width: 180px;
}
.ways__text{
	padding:25px 0 25px 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
}

.ways__img-wrapper{

	width:80px;
	height: 80px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin:15px 15px 0 0;
	padding:20px;
	-webkit-box-flex:0;
	    -ms-flex:0;
	        flex:0;

}
/*			Ways
_________________________________*/
.clients{
	background: #E5E5E5;
	padding-top:100px;
	padding-bottom:465px;

}
.clients__content{
	
}
.title-clients{
	max-width: 370px;

}
.clients__info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom:20px;
}
.clients__text{
	padding-left:30px;
	max-width: 800px;
}
.clients__text p{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;

	color: rgba(0, 0, 0, 0.8);

	margin-bottom:25px;
	
}
/*			Clients-slider
_________________________________*/
.slider__clients-wrapper .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.slider__clients-wrapper .slick-slide img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__clients-item{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.slider__clients{
	position: relative;
	margin-top:-450px;

}
.slider__clients-item{
	outline: none;
	border:none;

}
.slider__clients .slick-arrow{
	position: absolute;
	top:47%;
	z-index: 100;
	font-size: 0;
	width:17px;
	height: 30px;
	outline: none;
	border:none;
	

}
.slider__clients .slick-arrow.slick-prev{
	left:-5%;
	background:url(images/clients_slider/left.svg) 0 0 no-repeat;
}
.slider__clients .slick-arrow.slick-next{
	right:-5%;
	background:url(images/clients_slider/right.svg) 0 0 no-repeat;
}
.slider__clients .slick-dots{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 0;
	position: absolute;
	bottom:-20%;
	left:50%;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
}
.slider__clients .slick-dots li{
	margin:0 5px;
}
.slider__clients .slick-dots li.slick-active button{
	background: #DEC377;
}
.slider__clients .slick-dots button{
	width:12px;
	height: 12px;
	font-size: 0;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border:none;
	outline: none;
	
	
}

/*			Rewies-slider
_________________________________*/
.reviews__slider{
	position: relative;
}
.reviews__slider .slick-arrow{
	position: absolute;
	bottom:-10.5%;
	z-index: 100;
	font-size: 0;
	height: 20px;
	width:10px;
	outline: none;
	border:none;
}
.reviews__slider .slick-dots{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 0;
	position: absolute;
	bottom:-10%;
	left:47%;
}
.reviews__slider .slick-dots li{
	margin:0 5px;
}
.reviews__slider .slick-dots li.slick-active button{
	background: #DEC377;
}
.reviews__slider .slick-dots button{
	width:12px;
	height: 12px;
	font-size: 0;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	border:none;
	outline: none;
	
	
}

.reviews__slider .slick-arrow.slick-prev{
	right:8.2%;
	background:url(images/main_slider/left.svg) 0 0 no-repeat;
}
.reviews__slider .slick-arrow.slick-next{
	right:3%;
	background:url(images/main_slider/right.svg) 0 0 no-repeat;
}
/*			Reviews
_________________________________*/
.reviews{
	padding-top:100px;
}
.reviews__cards{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 0;
	margin:35px -15px 30px;
	
}
.reviews__card{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
	        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
	outline: none;
	border:none;
	margin:0 15px;

}
.reviews__card-text{
	padding:40px 0px 65px;
	max-width: 470px;
	margin:0 auto;

}
.reviews__pos{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;


	color: rgba(0, 0, 0, 0.5);
}
.reviews__name{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 40px;


	letter-spacing: 0.01em;


	color: #DEC377;
}
.reviews__inner{
	margin:20px 0 25px;
}
.reviews__inner p{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;


	letter-spacing: 0.01em;



	color: rgba(0, 0, 0, 0.8);
}
.reviews__more{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;


	letter-spacing: 0.02em;
	text-transform: uppercase;



	color: rgba(0, 0, 0, 0.5);
}
/*			Partners
_________________________________*/
.partners{
	padding-top:106px;
	padding-bottom:100px;
}
.partners_info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	max-width: 970px;
}
.partners__items{

	width: 100%;
	max-width: 1160px;
	margin:-5px auto 0;
	padding:0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.partners__item{
	filter: grayscale(100%);
	 -webkit-filter:grayscale(100%);
	 max-width: 100%;
	height: auto;
}
.partners__text{
	max-width: 675px;
	margin-bottom:45px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;


	color: rgba(0, 0, 0, 0.8);
}
.partners__btn{

	background-color: #ffffff;
	border:1px solid #DEC377;
	color: #DEC377;
	
}
/*			Work
_________________________________*/
.work{
	background: #E5E5E5;
}
.work__content{
	padding:65px 0 100px;
}
.work__info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.work__info-item{
	background: #FFFFFF;
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	width:49%;
	
	position: relative;
	margin-bottom:15px;
	margin-top:15px;
	padding:40px 50px 55px 50px;

}
.work__info-item:last-child:before{
	content:"";
	position: absolute;
	right:0;
	top:0;
	border: 35px solid transparent; 
	border-top: 35px solid #DEC377; 
	border-right: 35px solid #DEC377;

}
.bottom__card{
	background: #FFFFFF;
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	margin-top:15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	padding:40px 50px 45px 50px;
}
.work__text{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	color: #9d9d9d;
	
	
}

.bottom__card .work__title{
	max-width: 250px;
	margin-bottom:0;
	margin:-5px 0px;
}
.work__title{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 45px;

	color: rgba(0, 0, 0, 0.9);
	margin-bottom:15px;

}
.bottom__card-text{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	max-width: 720px;
	color: #9d9d9d;
}

.work__img{
	max-width:100%;
	height: auto;
	min-height: 180px;
}
/*			Services
_________________________________*/
.services{
	background: #E5E5E5;
	padding:75px 0 100px;
}
.services__info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.services__text{
	max-width: 760px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	margin-right:10px;
	color: rgba(0, 0, 0, 0.8);

}
.services__items{
	margin-top:35px;
	margin-bottom:50px;
	display: -ms-grid;
	display: grid;
	
	grid-gap:30px;
	grid-auto-rows:minmax(140px, auto);
	grid-template-columns:repeat(12,1fr);
 	
}
.small{
	-ms-grid-column: 1;
	-ms-grid-column-span: 4;
	grid-column: 1/6;
}
.small-right{
	-ms-grid-column: 7;
	-ms-grid-column-span: 5;
	grid-column: 8/13;
}
.medium-left{
	-ms-grid-column: 1;
	-ms-grid-column-span: 5;
	grid-column: 1/7;
}
.medium-right{
	-ms-grid-column: 6;
	-ms-grid-column-span: 6;
	grid-column: 7/13;
}
.large{
	-ms-grid-column: 5;
	-ms-grid-column-span: 7;
	grid-column: 6/13;
}
.large-left{
	-ms-grid-column: 1;
	-ms-grid-column-span: 6;
	grid-column: 1/8;
}
.large-left .title-small{
	max-width: 520px;
	margin-bottom:30px;
}

.services__item .title-small{
	text-align: left;
	margin-bottom:47px;
}
.large-left .title-small{
	max-width: 520px;
	margin-bottom:17px;
}
.services__item{
	background-color: #ffffff;
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	padding: 25px 28px 10px 101px;
	text-align: right;
	position: relative;
	
}
.services__item:before{
	content:"";
	display: block;
	width: 70px;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background: rgba(222, 195, 119, 0.75);
}
.small:before,.large:before{
	background: rgba(222, 195, 119, 0.4);
}
.small-right:before,.large-left:before{
	background: #DEC377;
}

.btn__more-services{
	text-align: right;
}
/*			Reasons
_________________________________*/
.reasons__content{
	padding:30px 0 55px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.reasons__info{
	max-width: 470px;
}
.reasons__card{
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom:57px;
	padding-top:60px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.reasons__card:last-child{
	border:none;
}
.reasons__text{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;

	color: #9d9d9d;
	letter-spacing: 0.01em;
	margin-top:30px;
}
.reasons__items{
	padding-left:12.9%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	margin-top:-33px;
}
.reasons__item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top:25px;
}


.reasons__item:last-child .reasons__item-text{
	margin-top:25px;
}
.reasons__item:last-child{
	margin-top:0.5px;
}


.reasons__card:nth-child(2n){
	padding-bottom:;
}
.reasons__card:nth-child(2n) .reasons__info{
	padding:10px 0;
}
.reasons__card:nth-child(2n) .reasons__item{
	margin-top:25px;
}
.reasons__card:nth-child(2n) .reasons__item:first-child{
	margin-top:31px;
}
.reasons__card:nth-child(2n) .reasons__items{
	margin-top:-30px;
}
.reasons__card:nth-child(2n) .reasons__item:nth-child(3n){
	margin-top:25px;
}
.reasons__card:nth-child(2n) .reasons__item:last-child{
	margin-top:23px;
}
.reasons__card:nth-child(2n) .reasons__item:last-child .reasons__item-text{
	margin-top:6px;
}


.reasons__dot-wrapper{
	border: 1px solid rgba(222, 195, 119, 0.4);
	width:40px;
	height: 40px;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex:0;
	    -ms-flex:none;
	        flex:none;
}
.reasons_dot{
	width:10px;
	height: 10px;
	border-radius: 50%;
	background-color: #DEC377;
}
.reasons__item-text{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;

	letter-spacing: 0.01em;


	color: rgba(0, 0, 0, 0.75);

	margin-left:30px;

	max-width: 370px;
}

/*			Features
_________________________________*/
.features{
	background: #E5E5E5;
}
.features__content{
	padding:70px 0 100px;
}
.features__wrapper{
	margin-top:35px;
}
.card-features{
	background-color: #ffffff;
	min-height: 335px;	
}
.feature-text{
	max-width: 750px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;

	color: #9d9d9d;
}
.bottom__card-features{
	padding:40px 51px 40px;
	min-height: 160px;
	position: relative;
	margin-top:40px;
}

.bottom__card-features:last-child:before{
	content:"";
	position: absolute;
	right:0;
	top:0;
	border: 35px solid transparent; 
	border-top: 35px solid #DEC377; 
	border-right: 35px solid #DEC377;

}
/*			Contact
_________________________________*/
.contact{
	background: #E5E5E5;
}
.contact__content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.contact__info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.contact__rules{
	margin:35px 0;
}
.contact__rule{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom:30px;
	
}
.contact__rule:last-child{
	margin-bottom:0;
	
}
.contact__rule-number{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 22px;
	line-height: 67px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex:0;
	    -ms-flex:none;
	        flex:none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #DEC377;

	border: 1px solid rgba(222, 195, 119, 0.75);
	border-radius: 50%;
	width:70px;
	height: 70px;
}
.contact__rule-inner{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;

	color: rgba(0, 0, 0, 0.8);

	max-width: 400px;

	margin-left:30px;
}
.contact__more{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;

	letter-spacing: 0.01em;

	color: rgba(0, 0, 0, 0.8);

	max-width: 500px;
}

/*			Contact form
_________________________________*/
.contact__form-wrapper{
	background: #FFFFFF;

	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

	        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	max-width:570px;
	min-height: 365px;
}
.contact__form{
	padding:40px 50px 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

}
label{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;

	letter-spacing: 0.01em;

	color: rgba(0, 0, 0, 0.5);
}
.contact__name,.contact__tel{
	border:none;
	outline: none;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
	padding:10px 10px 5px;
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;

	color: rgba(0, 0, 0, 0.8);

	margin-bottom:20px;

}
.contact__name{
	padding: 10px 10px 4px;
	margin-bottom:19px;
}
.contact__name:focus,.contact__tel:focus
.contact__name:hover,.contact__tel:hover{
	outline:2px solid rgba(0, 0, 0, 0.1);
}

input::-webkit-input-placeholder{
	text-indent: 0px;   
	-webkit-transition: text-indent 0.5s ease;   
	transition: text-indent 0.5s ease;
}
input::-moz-placeholder{
	text-indent: 0px;   
	-moz-transition: text-indent 0.5s ease;   
	transition: text-indent 0.5s ease;
}
input:-moz-placeholder{
	text-indent: 0px;   
	-moz-transition: text-indent 0.5s ease;   
	transition: text-indent 0.5s ease;
}
input:-ms-input-placeholder{
	text-indent: 0px;   
	-ms-transition: text-indent 0.5s ease;   
	transition: text-indent 0.5s ease;
}
input:focus::-webkit-input-placeholder{
	text-indent: 500px; 
	-webkit-transition: text-indent 0.5s ease; 
	transition: text-indent 0.5s ease;
}
input:focus::-moz-placeholder{
	text-indent: 500px; 
	-moz-transition: text-indent 0.5s ease; 
	transition: text-indent 0.5s ease;
}
input:focus:-moz-placeholder {
	text-indent: 500px; 
	-moz-transition: text-indent 0.5s ease; 
	transition: text-indent 0.5s ease;
}
input:focus:-ms-input-placeholder{
	text-indent: 500px; 
	-ms-transition: text-indent 0.5s ease; 
	transition: text-indent 0.5s ease;
}
.сontact__privacy{
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;

	color: rgba(0, 0, 0, 0.5);
	margin-bottom:30px;
}
.сontact__privacy-link{
	text-decoration: underline;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
}
.btn__form{
	width:100%;
}
/*			Price
_________________________________*/
.price{
	background: #E5E5E5;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.price__content{
	padding:100px 0;
}
.price__info{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 25px;
	margin:30px 0;

	color: rgba(0, 0, 0, 0.8);

	max-width: 670px;
}
/*		     Footer
_________________________________*/
.footer{
	background: #E5E5E5;
}
.footer__content{
	padding:48px 0 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	
}
.footer__title{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;

	color: rgba(0, 0, 0, 0.9);

	margin-bottom:70px;
}
.footer__about{
	max-width: 270px;
}
.footer__rank-item{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;


	letter-spacing: 0.01em;


	color: rgba(0, 0, 0, 0.5);

	margin-bottom:10px;
}
.footer__rank-item span{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-left:12px;

}
.footer__social{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 255px;
	margin-top:60px;
	margin-bottom:48px;
}
.footer__social-item:hover{
	-webkit-transform: translate3d(5px,5px,5px);
	        transform: translate3d(5px,5px,5px);
}
.footer__helps-item{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;


	letter-spacing: 0.02em;
	text-transform: uppercase;


	color: rgba(0, 0, 0, 0.75);
	margin-bottom:30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 160px;

}

.footer__helps-item img{
	margin-left:15px;
}
.footer__suptitle{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;


	text-transform: uppercase;


	color: rgba(0, 0, 0, 0.5);

	border-bottom:1px solid rgba(0, 0, 0, 0.1);

	padding-bottom:5px;

}
.footer__subtitle{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;


	letter-spacing: 0.01em;

	color: rgba(0, 0, 0, 0.75);

}
.footer__info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 35px;
	margin-left:30px;

}
.footer__contacts .footer__item-title{
	margin-bottom:14px;
}
.footer__number .footer__item-text{
	margin-bottom:-5px;
}
.footer__item-title{
	font-family: 'Commissioner', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;


	letter-spacing: 0.04em;
	text-transform: uppercase;

	color: rgba(0, 0, 0, 0.75);
	margin-bottom:20px;
}
.footer__inner{
	padding:30px 0 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.footer__time{
	margin-left:30px;
	padding-left:50px;
	max-width: 220px;
	display: flex;
	flex-direction: column;
}


.footer__time .footer__item{
	margin-top:-4.5px;
}
.footer__time .footer__item-info:first-child{
	margin-top:3.5px;
}
.footer__contacts,.footer__locations{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 200px;

}
.footer__locations{
	margin-left:10px;
	padding-left:4%;
	
}
.footer__locations:nth-child(3n){
	padding-left:8%;
}
.footer__email{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 20px;

	color: rgba(0, 0, 0, 0.8);
}
.footer__item-text{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;

	color: rgba(0, 0, 0, 0.8);

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top:5px;

}
.footer__item{
	margin-bottom:35px;

}
.footer__tel .footer__item-text{
	margin-top:-1px;

}
.footer__address{
	margin-top:5px;

}
.footer__address,
.footer__number,
.footer__tel{
	margin-bottom:20px;
}
.footer__locations .footer__item-title{
	margin-bottom:10px;
}
.footer__locations .footer__address{
	margin-bottom:5px;
}
.footer__items{
	padding-top:30px;
}

/*				Media
________________________________*/

@media screen and (max-width: 1330px){
	.header__content{
		margin-right:0;
	}

	.slider__clients .slick-arrow{
		position: absolute;
		top:105%;
		z-index: 100;
		font-size: 0;
		width:17px;
		height: 30px;
		outline: none;
		border:none;
		

	}
	.slider__clients .slick-arrow.slick-prev{
		left:45%;
		
	}
	.slider__clients .slick-arrow.slick-next{
		right:45%;
		
	}

}
@media screen and (max-width: 1217px){
	.info__img img{
		display: none;
	}
	.contact__content{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.contact__form-wrapper{
		margin-top:30px;
	}
	.footer__content {

	    -ms-flex-wrap: wrap;

	        flex-wrap: wrap;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
}
@media screen and (max-width: 1024px){
	.header__eye-icon{
		left:30%;
	}

	.price__content{
		text-align: center;
	}
	.price__info{
		margin:30px auto;
	}
	.title{
		text-align: center;
	}
	.title-small{
		text-align: left;
	}
	.reasons__card{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.clients__info{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center
	}
	.services__info {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	.services__text{
		margin-bottom:30px;
	}
	.reasons__items{
		margin-top:10px;
	}
	.reasons__card:nth-child(2n) .reasons__items {
    	margin-top: 10px;
	}
	.footer__locations{
		margin-left:10px;
	
	}
	.footer__time {
	    margin-left: 30px;
	    padding-left: 0px;
    }


}
@media screen and (max-width: 890px){
	.clients__text{
		margin-top:30px;
	}
	.header__main{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.header__nav{
		margin-top:30px;
	}
	.work__content{
		padding-top:45px;
	}
	.services{
		padding-bottom:50px;
	}
	.price__content{
		padding:40px 0;
	}
	.cards__wrapper{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.card{
		width:45%;
		margin:10px 5px;
	}
	.ways__content{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.ways__items{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.ways__item{
		width:45%;
		margin:10px 5px;
	}
	.btn__services{
		margin:0 auto;
	}
	.footer__info{
		margin-left:0;
	}
	.footer__contacts{
		max-height: 350px;
	}
	.footer__locations{
		margin-left:5px;

	}
	.partners__items {
	    margin: 50px auto 0;
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center
	}
	.partners__item{
		margin:0 10px;
	}
	.reviews {
    	padding-top: 115px;
    }
    .footer__locations:nth-child(3n) {
    	padding-left:0; 
	}
	.footer__locations {
	    margin-left: 10px;
	    padding-left: 0;
	}
    
}
@media screen and (max-width: 730px){
	.header__eye-icon{
		left:5%;
		top:75px;
	}
	.small,
	.small-right,
	.medium-left,
	.medium-right,
	.large,
	.large-left{
		-ms-grid-column: 1;
		-ms-grid-column-span: 11;
		grid-column: 1/12;

	}
	.work__info{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.work__info-item{
		width:100%;
	}
	.bottom__card .work__title {
    	min-width: 170px;
    }
    .ways__text {
    	padding: 25px 0 25px 25px;
    }
    .footer__contacts {
    	margin-bottom:30px;
    }
   
   
}
@media screen and (max-width: 650px){
	.burger{
		display: block;

	}
	.header__social{
		display: none;
	}
	.header__eye-icon{
		left:50%;
		top:15px;
	}
	.ways__item{
		width:100%;
	}
	.ways__img-wrapper{
		margin-bottom:10px;
	}
	.header__nav-item{
		margin-top:30px;
	}
	.header__nav-item a{
		font-size: 20px;
		
	}
	.header__nav-items{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.bottom__card{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.header__nav-item:hover{
		-webkit-transform: translateX(10px);
		    -ms-transform: translateX(10px);
		        transform: translateX(10px);
	}
	
}	

@media screen and (max-width: 420px){
	.title{
		font-size: 25px;
	}
	.title-small{
		font-size: 20px;
	}
	.partners__text{
		font-size: 25px
	}
	.work__text,
	.services__text,
	.bottom__card-text,
	.reasons__text,
	.feature-text{
		font-size: 20px;
		text-align: center;
	}

	.reviews__slider .slick-dots{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		font-size: 0;
		position: absolute;
		bottom:-3%;
		left:50%;
		-webkit-transform: translate(-50%,0);
		    -ms-transform: translate(-50%,0);
		        transform: translate(-50%,0);
	}
	.reviews__cards{
		margin-bottom:75px;

	}
	.card{
		width:100%;
		margin-left:0;
		margin-right:0;
	}
	.footer__content{
		text-align: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;

	}
	.footer__info{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;

	}
	.footer__item-text {
    	font-size: 20px;
	}
	.footer__email {
	    font-size: 18px;
	}
	.footer__locations {
		margin-left:0;
		margin-top: 150px;
	}
	.footer__locations:last-child{
		margin-top:20px;
	}
	.footer__time{
		margin: 0 auto;
	}
	.footer__inner{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.footer__item-title {
    
    	font-size: 26px;
	}
	.footer__subtitle {
  
   	 	font-size: 24px;
   	}
   	.btn{
   		font-size: 15px;
   	}
   	.slider__main-info {
    
	    font-weight: 700;
	    font-size: 22px;
   	}
   	.info__text p,
   	.clients__text p {
   
    	font-size: 20px;
	}
	.info__about {
   	 	padding: 50px 20px 60px 20px;
   	 	text-align: center;
	}

	.info__title {
	    padding-left: 0px;
	 }
	.info__text{
		padding-left:0px;
	}
	.footer__tel .footer__item-text {
   		 margin-top: 10px;
	}
	.reasons__items{
		margin-top:10px;
	}
	.reasons__card:nth-child(2n) .reasons__items {
    	margin-top: 10px;
	}
	.work__img {
		display: none;
	}
	.bottom__card .work__title {
		margin-bottom:20px;
	}
	.ways__item .title-small{
		font-size: 20px;
	}
	.slider__main-item {
   
	    padding-top: 90px;

	    text-align: center;
	}
	.bottom__card{
		padding:40px 20px 45px;
	}
	.work__info-item {

    	padding: 30px 10px 55px 10px
    }
    .contact__form {
   		 padding: 40px 15px 50px;
	}
}
